In [1]:
#!pip install pyvis #for colab environment

In [2]:
#data sci boilerplate
from pyvis.network import Network
import numpy as np
import pandas as pd
from os import path
from PIL import Image

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pyplot import figure
import networkx as nx

In [3]:
df = pd.read_excel('data/4e1.xlsx') #excel file needs to be in a subdirectory named data
df.head()

,Timestamp,Email Address,Full Name,Class Index No.,1st Choice,2nd Choice,3rd Choice,1st Choice.1,2nd Choice.1,3rd Choice.1,1st Student,2nd Student,3rd Student,1st Student.1,2nd Student.1,3rd Student.1
0,2023-01-18 11:36:37.120,deleted,A,1,10,11,34,10,11,34,12,1,3,12,1,3
1,2023-01-18 11:36:57.061,deleted,B,32,13,33,11,13,33,11,30,22,11,22,30,12
2,2023-01-18 11:37:29.259,deleted,C,11,1,31,17,1,31,17,1,31,17,1,31,17
3,2023-01-18 11:37:43.128,deleted,D,12,26,37,27,26,37,27,12,12,12,1,2,4
4,2023-01-18 11:38:19.624,deleted,E,38,40,36,37,40,37,36,22,14,19,14,22,19

In [4]:
df.isnull().sum()

Timestamp           0
Email Address       0
Full Name           0
Class Index No.     0
1st Choice          0
2nd Choice          0
3rd Choice          0
1st Choice.1        0
2nd Choice.1        0
3rd Choice.1        0
1st Student         0
2nd Student         0
3rd Student         0
1st Student.1       0
2nd Student.1       0
3rd Student.1       0
dtype: int64

In [5]:
df.columns

Index(['Timestamp', 'Email Address', 'Full Name', 'Class Index No. ',
       '1st Choice', '2nd Choice', '3rd Choice', '1st Choice.1',
       '2nd Choice.1', '3rd Choice.1', '1st Student', '2nd Student',
       '3rd Student', '1st Student.1', '2nd Student.1', '3rd Student.1'],
      dtype='object')

In [6]:
len(df)

41

In [7]:
df.loc[0,'1st Choice']

10

In [8]:
pd.set_option('display.max_rows', 500)

In [9]:
df = df.sort_values('Class Index No. ')

In [10]:
df

,Timestamp,Email Address,Full Name,Class Index No.,1st Choice,2nd Choice,3rd Choice,1st Choice.1,2nd Choice.1,3rd Choice.1,1st Student,2nd Student,3rd Student,1st Student.1,2nd Student.1,3rd Student.1
0,2023-01-18 11:36:37.120,deleted,A,1,10,11,34,10,11,34,12,1,3,12,1,3
18,2023-01-18 11:40:59.619,deleted,Shawn Kyle Pastorfide Pascual,2,17,31,11,37,17,31,16,18,12,12,18,22
13,2023-01-18 11:39:44.116,deleted,Nguyen Cong Tuong,3,1,31,17,1,8,9,6,5,8,9,5,8
20,2023-01-18 11:41:07.594,deleted,U,4,8,30,19,8,28,19,12,30,8,12,30,15
31,2023-01-18 11:42:37.407,deleted,AF,5,5,6,25,6,37,19,22,12,16,22,30,12
34,2023-01-18 11:44:03.902,deleted,AI,6,36,35,34,36,35,34,12,30,22,12,30,22
10,2023-01-18 11:39:12.657,deleted,K,7,10,27,31,10,27,31,10,27,31,7,7,7
40,2023-01-25 11:23:43.899,deleted,AO,8,25,4,1,10,25,4,12,30,39,12,39,5
11,2023-01-18 11:39:27.110,deleted,L,9,33,36,10,33,36,10,22,12,16,22,16,12
27,2023-01-18 11:41:53.121,deleted,AB,10,7,27,1,7,27,1,27,1,7,27,1,7
2,2023-01-18 11:37:29.259,deleted,C,11,1,31,17,1,31,17,1,31,17,1,31,17
3,2023-01-18 11:37:43.128,deleted,D,12,26,37,27,26,37,27,12,12,12,1,2,4
33,2023-01-18 11:43:47.933,deleted,AH,13,7,32,33,22,7,27,12,22,13,12,13,13
19,2023-01-18 11:41:06.700,deleted,Tan Kai El,14,29,32,15,14,14,14,39,30,16,33,11,22
5,2023-01-18 11:38:35.207,deleted,F,15,28,4,25,4,28,8,16,30,39,30,39,16
37,2023-01-18 11:45:26.304,deleted,AL,16,16,16,16,16,16,16,16,16,16,13,4,3
22,2023-01-18 11:41:26.724,deleted,W,17,2,21,31,2,21,31,12,22,30,22,12,30
35,2023-01-18 11:44:17.055,deleted,AJ,18,20,24,25,25,6,38,12,30,22,12,22,30
38,2023-01-25 11:22:15.292,deleted,AM,19,29,38,4,4,29,24,12,12,12,12,12,12
29,2023-01-18 11:42:15.987,deleted,AD,20,16,17,33,16,17,33,16,17,33,16,17,33
8,2023-01-18 11:38:52.541,deleted,I,21,26,17,16,26,17,16,21,22,2,21,21,21
36,2023-01-18 11:45:04.479,deleted,AK,22,13,29,39,29,13,22,22,22,22,22,12,22
17,2023-01-18 11:40:58.949,deleted,R,23,31,7,17,31,2,23,12,39,22,30,11,39
39,2023-01-25 11:22:19.690,deleted,AN,24,28,34,29,28,29,40,41,40,28,12,12,12
30,2023-01-18 11:42:30.785,deleted,AE,25,18,5,8,18,8,5,12,30,38,12,30,38
12,2023-01-18 11:39:38.702,deleted,M,26,12,27,21,37,2,42,26,26,26,26,26,26
9,2023-01-18 11:39:06.660,deleted,J,27,26,7,36,26,7,36,12,30,27,12,30,27
32,2023-01-18 11:42:46.427,deleted,AG,28,24,31,34,28,31,34,28,28,28,28,28,28
16,2023-01-18 11:40:16.458,deleted,Q,29,34,24,1,34,24,37,12,16,39,12,16,19
24,2023-01-18 11:41:41.460,deleted,Yanoria Jhino Andrey Pizarra,31,23,7,2,23,11,7,23,7,11,12,30,22
1,2023-01-18 11:36:57.061,deleted,B,32,13,33,11,13,33,11,30,22,11,22,30,12
23,2023-01-18 11:41:28.465,deleted,X,33,9,13,40,9,13,40,22,12,30,12,30,16
7,2023-01-18 11:38:44.749,deleted,H,34,29,7,36,7,29,6,12,30,34,12,30,34
26,2023-01-18 11:41:48.410,deleted,AA,35,36,40,35,36,40,35,30,12,22,12,30,22
6,2023-01-18 11:38:37.124,deleted,G,36,6,35,40,35,40,34,12,30,36,12,36,36
21,2023-01-18 11:41:22.639,deleted,Viraeynthan,37,40,38,27,38,40,27,12,15,30,12,15,30
4,2023-01-18 11:38:19.624,deleted,E,38,40,36,37,40,37,36,22,14,19,14,22,19
28,2023-01-18 11:42:11.152,deleted,AC,39,38,15,40,39,38,40,22,12,8,12,8,30
25,2023-01-18 11:41:43.994,deleted,Z,40,41,37,36,37,41,36,40,40,40,40,40,40
15,2023-01-18 11:39:57.489,deleted,P,41,42,40,38,40,2,4,15,22,2,37,9,26
14,2023-01-18 11:39:55.892,deleted,O,42,6,39,8,37,39,38,15,39,38,15,9,27

In [11]:
net=Network(directed=True,notebook=True)

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.

In [12]:
class_size = int(input('enter class size:'))

enter class size:42

In [13]:
for i in range(1,class_size+1):
  net.add_node(i, label=str(i))

In [14]:
lst = ['1st Choice','2nd Choice','3rd Choice']
for i in range(len(df)):
  for elem in lst:
    net.add_edge(int(df.loc[i,'Class Index No. ']),int(df.loc[i,elem]))
  print('added', df.loc[i,'Full Name'],'1st:',df.loc[i,'1st Choice'],'2nd:',df.loc[i,'2nd Choice'],'3rd',df.loc[i,'3rd Choice'])

added A 1st: 10 2nd: 11 3rd 34
added B 1st: 13 2nd: 33 3rd 11
added C 1st: 1 2nd: 31 3rd 17
added D 1st: 26 2nd: 37 3rd 27
added E 1st: 40 2nd: 36 3rd 37
added F 1st: 28 2nd: 4 3rd 25
added G 1st: 6 2nd: 35 3rd 40
added H 1st: 29 2nd: 7 3rd 36
added I 1st: 26 2nd: 17 3rd 16
added J 1st: 26 2nd: 7 3rd 36
added K 1st: 10 2nd: 27 3rd 31
added L 1st: 33 2nd: 36 3rd 10
added M 1st: 12 2nd: 27 3rd 21
added Nguyen Cong Tuong  1st: 1 2nd: 31 3rd 17
added O 1st: 6 2nd: 39 3rd 8
added P 1st: 42 2nd: 40 3rd 38
added Q 1st: 34 2nd: 24 3rd 1
added R 1st: 31 2nd: 7 3rd 17
added Shawn Kyle Pastorfide Pascual 1st: 17 2nd: 31 3rd 11
added Tan Kai El 1st: 29 2nd: 32 3rd 15
added U 1st: 8 2nd: 30 3rd 19
added Viraeynthan 1st: 40 2nd: 38 3rd 27
added W 1st: 2 2nd: 21 3rd 31
added X 1st: 9 2nd: 13 3rd 40
added Yanoria Jhino Andrey Pizarra 1st: 23 2nd: 7 3rd 2
added Z 1st: 41 2nd: 37 3rd 36
added AA 1st: 36 2nd: 40 3rd 35
added AB 1st: 7 2nd: 27 3rd 1
added AC 1st: 38 2nd: 15 3rd 40
added AD 1st: 16 2nd: 17 3rd 33
added AE 1st: 18 2nd: 5 3rd 8
added AF 1st: 5 2nd: 6 3rd 25
added AG 1st: 24 2nd: 31 3rd 34
added AH 1st: 7 2nd: 32 3rd 33
added AI 1st: 36 2nd: 35 3rd 34
added AJ 1st: 20 2nd: 24 3rd 25
added AK 1st: 13 2nd: 29 3rd 39
added AL 1st: 16 2nd: 16 3rd 16
added AM 1st: 29 2nd: 38 3rd 4
added AN 1st: 28 2nd: 34 3rd 29
added AO 1st: 25 2nd: 4 3rd 1

In [15]:
net.show('4e1.html')